<p id="notice"><%= notice %></p>

<h1 class="product-header">Properties For Sale</h1>

<div class="container">
  <% @products.in_groups_of(4,false).each do |group| %>
    <div class="row">
      <% group.each do |product| %>
        <div class="col-md-3">
          <%= render @products %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to 'New Product', new_product_path %>  
</div>




